.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.circle {
     width: 1600px;
     height: 1600px;
     border-radius: 50%;
     //box-shadow: 0 0 150px rgba(1, 4, 103, 0.5);
     background: radial-gradient(circle at 800px 800px,
             rgb(0, 241, 156, 0.1) 50px,
             rgb(3, 11, 9, 0) 600px
     );
     position: absolute;
     pointer-events: none;
   }