.wrapper {
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.about {
position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 50px 25px;
  box-sizing: border-box;
}
.carousel {
  width: 80%;

}