.wrapper {
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.about {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;


}
.carousel {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px 15px;
  display: flex;
  position: relative;
  justify-content: space-between;
  .img {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100%; /* или любая нужная высота контейнера */
    margin: 10px;
    width: 300px;
    &_1 {
      transform: rotate(15deg);
    }
    &_2 {
      transform: rotate(-9deg);
    }
    &_3 {
      transform: rotate(10deg);
      height: 500px;
      width: auto;
    }
    &_4 {
      transform: rotate(-7deg);
    }
    &_5 {
      transform: rotate(9deg);
    }
  }

  .img img {
    box-shadow: 5px 5px 15px white;
  }
}
.title-wrapper {
  display: flex;
  flex-flow: column;
  position: absolute;
  bottom: 50px;
}
.text {
  font-family: TitleFont, sans-serif ;


  &_title {
    color: white;
    text-shadow: 0 0 5px black;
    font-weight: 800;
    font-size: 8rem;
  }

  &_subtitle {
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 2rem;
  }
}
.card {
  width: 50%;
}


