
@import "resetCSS.css";
@font-face {
    font-family: 'TitleFont';
    src: url('#{$font-path}Bona_Nova_SC/BonaNovaSC-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}
:root {
    --background-color: #030b09;
}